.home-menu
    text-align center
    padding 1em

.home-menu.pure-menu-open
    background #373737

.pure-menu.pure-menu-open.pure-menu-fixed
    border-bottom: none
    z-index: 4

.home-menu .pure-menu-heading
    color white
    font-weight 400
    font-size 150%

.home-menu .pure-menu-selected a
    color: white

.home-menu a
    color rgba(255, 255, 255, .34)
    font-family 'lato'
    font-weight 700
    text-transform uppercase
    font-size 90%

.home-menu li a:hover,
.home-menu li a:focus
    background none
    border none
    color #fff

a.nav-inscription
    background #ffde00
    color #000
    position relative
    float right
    display inline-block
    padding 0 2.2em
    box-shadow none
    height 100%
    vertical-align middle

    span
        font-weight 300

.pure-menu-heading
    font-family 'Montserrat'
    font-weight 700
    position relative
    line-height 1

    span
        font-size 60%
        color #ffde00
        position relative
        top -4px
