//secondary footer
.content
    &.secondary-footer
        padding: 0
        height: 200px

.box-newsletter
    background #eacc04
    height 200px
    vertical-align middle

    form
        float right
        margin-right 5%
        margin-top 8%

        input
            height 50px
            background #fff
            border 0
            width 400px
            padding 0 1em
            text-transform uppercase
            font-family lato
            vertical-align middle

        label
            display block
            color #000
            font-family lato

        .btn-register
            width 180px
            background transparent

.box-social-networks
    background #ffde00;
    height 200px
    padding-top 4%
    padding-left 4%

    a
        margin-right 10%

.footer
    ul
        float left
    li
        display inline-block
        a
            font-family lato
            text-decoration none
            text-transform uppercase
            color #000
            font-size 0.8em
            padding 0 5px
            font-weight 700

            &:hover
                text-decoration underline
    .icon-arrow-up
        display block
        float right
        overflow hidden
        transform(scale(0.6))

        img
            width 100%

