.content
    &.location
        padding 6em 0
        background url(../images/bg-local.jpg) center center no-repeat
        background-size cover
        text-align center

        p
            font-family lato
            color #fff
            margin 0
            font-size 1.2em

        img
            transform(scale(0.8))
        h1
            color #ffde00
        .btn-view-map
            width 180px
            margin-top 20px
