.content
    &.speakers
        background #262626 url(../images/bg-talks.jpg) top center no-repeat
        color #fff
        text-align center
        padding-top 5%

        h1
            text-align center
            color #fff
            margin-bottom 5%

        em
            font-style normal
            color #ffde00

        img
            max-width: 80%

        figcaption
            color #ffde00
            margin-bottom 12%
            font-family 'Montserrat'

            span
                color #969696
                display block
                font-family 'lato'
