.content.tickets
    text-align center
    padding 5.5em
    font-family 'Montserrat'
    color #000

    h1
        text-transform uppercase
        text-align center
        color #000
        font-family 'Montserrat'

    .btn
        border-color #7c7c7c
        display block
        margin 0 auto
